<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div class="container page-content py-3">
      <div class="row justify-content-center">
        <div class="col col-xl-10 col-md-12">
          <header>
            <h1>{{ page.title | escape }}</h1>
          </header>
          <section>
            {{ content }}
          </section>
        </div>
      </div>
    </div>
    {%- include footer.html -%}
  </body>
</html>
